.container {
    display: flex;
    flex-direction: column;
    place-content: center;
    min-height: 100vh;
  
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
  
    background-color: hsl(var(--clr-neutral-200));
}

.region-box {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: #dfdfdf;
}

.luzon-box {
    flex: 1;
    background-color: red;
}

.visayas-box {
    flex: 1;
    background-color: blue;
}

.mindanao-box {
    flex: 1;
    background-color: yellow;
}