/* Applies to all parts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    transition: color 0.3s;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

/* Applies to the header */

header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0 15px 0;
    padding-right: 30px;
    height: 70px;
    gap: 10px;
}

.nav{
    justify-content: flex-end;
    width: 100%;
    gap: 25px;
    font-size: 17px;
}

.logo:hover{
    font-weight: bold;
}

.li-home:hover, .li-visayas:hover,
.li-intro:hover, .li-mindanao:hover,
.li-luzon:hover {
    z-index: 1;
}

.li-home:hover, .li-visayas:hover {
    color: blue;
}

.li-intro:hover ,.li-mindanao:hover{
    color:rgb(229, 229, 8);
}

.li-luzon:hover {
    color: red;
}

.logo-img{
    width: 60px;
    height: auto;
    align-self: center;
    display: flex;
}

.logo{
    justify-content: start;
    font-size: 18px;
}

.logo-1 {
    color: blue; 
}
  
.logo-2 {
    color: rgb(229, 229, 8); 
}

.logo-3 {
    color: red; 
}

/* Applies to the first section (box) */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 110px 100px;
}

.box{
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    position: relative;
    color: white;
}

.box .boxImg{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url(./images/index-img.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity: 30;
}

.intro-button{
    cursor: pointer;
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 8%;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px 10px 10px;
}
.h4-txt {
    margin-top: 20px;
    width: 60%;
}
.h1-txt:hover {
    color: rgb(88, 88, 255);
}
.h4-txt:hover {
    color: yellow;
}
.intro-button:hover {
    background-color: rgb(255, 91, 91);
}

/* Applies to the second section (box-1) */
.box-1{
    justify-content: center;
    text-align: center;
    color: black;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 3%;
}

/* Applies to the third section (philippines) */
.philippines{
    padding: 2%;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
}

.p-column{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.p-img-container1, .p-img-container2, .p-img-container3 {
    width: 70%;
}

.p-img-container1{
    background-color: rgb(88, 88, 255);
}

.p-img-container2{
    background-color: yellow;
}

.p-img-container3{
    background-color: rgb(255, 91, 91);
}

.p-outline-img.top{
    background-image: url('./images/luzon-outline.png');
    transition: background-image 0.3s;
}

.p-outline-img.top, .p-outline-img.middle, .p-outline-img.bottom {

    padding-top: 450px;
    background-image: url('./images/outline.png');
    background-repeat: no-repeat;
    background-size: 325px;
    background-color: white;
    transition: background-image 0.3s;
    border-radius: 80%;  
}


.p-img-container1:hover .p-outline-img.top {
    background-image: url('./images/Luzon.png'); 
    cursor:pointer;
}

.p-img-container2:hover .p-outline-img.middle {
    background-image: url('./images/Visayas.png');
    cursor:pointer;
}

.p-img-container3:hover .p-outline-img.bottom {
    background-image: url('./images/Mindanao.png');
    cursor:pointer;
}

/* Applies to the footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer{
    display: flex;
}

.credits{
    font-size: x-small;
    align-self: center;
}

/* For a mobile screens */
@media (max-width: 600px) {
    .logo-img{
        width: 20px;
        height: auto;
    }

    .logo{
        font-size: 10px;
    }

    .nav{
        font-size: 10px;
        gap:2px;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
    }

    .logo-footer{
        font-size: 10px;
    }
    
    .credits{
        font-size: 7px;
        align-self: center;
        flex-wrap: wrap;
    }
}