@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* All */
body{
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
  }
ul{
    list-style: none;
  }
a{
    color: black;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
    transition: color 0.3s;
  }
/* Navigation Bar */
.navbar .menu-icon{
    align-self: center;
    cursor: pointer;
    text-align: center;
    width: 70px;
  }
.navbar .menu-icon{
    display: none;
  }
.navbar input[type="checkbox"]{
    display: none;
  }
.navbar{
    background-color:whitesmoke;
    display: flex;
    height: 13%;
    left:0;
    position: fixed;
    right:0;
    top:0;
    width: 100%;
  }
.nav-content{
    display: flex;
    width: 100%;
  }
.nav-logo{
    display: flex;
  }
.nav-logo-img{
    align-self: center;
    height: 10vmin;
    width: 10vmin;
  }
.nav-title{
    align-items: center;
    display: flex;
    font-size: 3vmin;
    height: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
.nav-title-1{
    color: blue;
  }
.nav-title-2{
    color: rgb(205,201,66);
  }
.nav-title-3, .nav-links a:hover{
    color: red;
  }
.nav-links{
    align-items: center;
    display: flex;
    font-size: 1.9vmin;
    justify-content: end;
    padding: 0;
    width: 100%;
  }
.nav-links li{
    cursor: pointer;
    margin: 0 1vmin 0;
  }
.nav-home{
    color: rgb(205,201,66);
  }
.nav-about-us{
    border: 1px solid blue;
    border-radius: 20px;
    color: blue;
    min-width: 10px;
    padding: 8px 15px;
  }
.nav-about-us:hover{
    border: 1px solid red;
  }
/* Content */
.introduction {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    inset: 0;
    margin: auto;
    padding-top: 80px;
    width: 500px;
  }
.content {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    inset: 0;
    margin: auto;
    padding-top: 10px;
    width: 500px;
  }
.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
}
.content p {
    padding: 10px;
  }
.content h3 {
    text-align: center;
  }
.paragraph-spacing {
    margin-bottom: 20px;
  }
.food-item-1, .food-item-2 {
    background-color: #f8f8f8;
    border: 3px solid black;
    margin-bottom: 5px;
    padding: 10px;
  }
.food-fig {
    height: 300px;
    overflow: hidden;
  }
.food-fig img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
figcaption {
    text-align: center;
  }
.description {
    margin: 2rem;
  }
/* References */
.references {
    align-items: normal;
    display: flex;
    flex-direction: column;
    padding: 110px 100px;
  }
.references p {
    padding: 10px;
  }

/* Map: Luzon, Visayas, Mindanao (TEXT) */
.map-txt-section{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;  
  padding: 0;
}

.map-txt-1{
  font-size: 2.5vmax;
  font-weight: bold;
  margin: 10px 15% 0;  
  padding: 0;
}

.map-txt-2{
  font-size: 1.5vmax;
  font-weight: bold;
  margin: 20px 15% 0;  
  padding: 0;
}

/* Map: Luzon, Visayas, Mindanao */
.map-section{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  margin: 100px 0 0;
}

.p-column{
  display: flex;
  justify-content: center;
  background-color: white;
  height: 100%;
  width: 100%;
  gap: 30px;
}


.p-img-container1, .p-img-container2, .p-img-container3 {
  width: 70%;
  max-width: 500px;
}

.p-img-container1{
  background-color: rgb(88, 88, 255);
}

.p-img-container2{
  background-color: yellow;
}

.p-img-container3{
  background-color: rgb(255, 91, 91);
}

.p-outline-img.top{
  background-image: url('../images/homeimgs/luzon-outline.png');
  transition: background-image 0.3s;
}

.p-outline-img.top, .p-outline-img.middle, .p-outline-img.bottom {
  padding-top: 450px;
  background-image: url('../images/homeimgs/outline.png');
  background-repeat: no-repeat;
  background-size: 380px;
  background-color: white;
  transition: 0.3s;
  border-radius: 80%;  
}


.p-img-container1:hover .p-outline-img.top {
  background-image: url('../images/homeimgs/Luzon.png'); 
  cursor:pointer;
}

.p-img-container2:hover .p-outline-img.middle {
  background-image: url('../images/homeimgs/Visayas.png');
  cursor:pointer;
}

.p-img-container3:hover .p-outline-img.bottom {
  background-image: url('../images/homeimgs/Mindanao.png');
  cursor:pointer;
}

.map-ref a{
  display: block;
  text-align: center;
  color: rgb(162, 161, 161);
  font-size: 2vmin;
}

.map-ref a:hover{
  color: red;
}


/* About us*/
#about-us-section{
  background-color: rgb(42,39,39);
  height: 100%;
  width: 100%;
  margin-top: 70px;
}

.about-us-container{
  color: rgb(192, 191, 191);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-us-container .about-us-txt-1, .about-us-container .about-us-txt-2,
.about-us-container .about-us-txt-3, .about-us-container .about-us-txt-5,
.about-us-container .about-us-txt-6{
  flex-direction: column;
}

.about-us-txt-1{
  color:blue;
  font-weight: bold;
  font-size: 3vmin;
  margin-top: 15px;
}

.about-us-txt-2{
  padding: 10px 10% 15px;
  line-height: 2;
  font-size: 2vmin;
}

.about-us-txt-3{
  padding: 0px 0px 25px;
  color: yellow;
  font-weight: bold;
  font-size: 3vmin;
}

.about-us-container .about-us-txt-4 ul{ 
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 2%;
  
}

.about-us-txt-4{
  align-self: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2vmin;
}

.about-us-txt-5{
  padding: 25px 0px 25px;
  color: red;
  font-weight: bold;
  font-size: 3vmin;
}

.about-us-txt-6{
  padding: 10px 10% 15px;
  line-height: 2;
  font-size: 2vmin;
}


/* Footer */
footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px 30px;
  }
.logo-footer{
    align-self: center;
    height: 10vmin;
    width: 10vmin;
  }
.title-footer{
    align-items: center;
    display: flex;
    font-size: 3vmin;
    height: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
.title-1-footer{
    color: blue;
  }
.title-2-footer{
    color: rgb(205,201,66);
  }
.title-3-footer{
    color: red;
  }
.credits{
    align-self: center;
    font-size: x-small;
    padding-top: 20px;
  }
/* References */
.references {
    align-items: normal;
    display: flex;
    flex-direction: column;
    padding: 110px 100px;
  }
.references p {
    padding: 10px;
  }
/* For a mobile screens */
@media (max-width: 600px) {
  /* All */
  body{
      background-color: rgb(41, 41, 41);
    }
  /* Navigation Bar */
  .nav-links{
      align-items: center;
      display: flex;
      font-size: 1.9vmin;
      justify-content: end;
      padding: 0;
      text-transform: uppercase;
      width: 100%;
    }
  .nav-links li{
      cursor: pointer;
      margin: 0 1vmin 0;
    }
  .nav-home{
      color: rgb(205,201,66);
    }
  .nav-about-us{
      border: 1px solid blue;
      border-radius: 20px;
      color: blue;
      min-width: 10px;
      padding: 8px 15px;
    }
  .nav-about-us:hover{
      border: 1px solid red;
    }
  .navbar {
    justify-self: center;
  }
  .nav-logo {
    justify-content: center;
    width: 100%;
  }
  /* Navigation Bar Dropdown*/
  .navbar .menu-icon{
    display: block;
  }
  .navbar #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .nav-content .nav-links{
    background: whitesmoke;
    display: block;
    height: 100%;
    left: -100%;
    margin-left: 0;
    max-width: 200px;
    position: fixed;
    top: 80px;
    transition: all 0.3s ease;
    width: 100%;
  }
  nav #show-menu:checked ~ .nav-content .nav-links{
    left: 0%;
  }
  .nav-content .nav-links li{
    margin: 15px 20px;
  }
  .nav-content .nav-links li a,
  .nav-content .nav-links li label{
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 40px;
    padding: 8px 18px;
  }
  /* Description */
  .description {
      align-content: center;
      background-color: #FE9DBE;
      border-radius: 20px;
      padding: 2rem;
    }
  /* Food */
  .food-item-1 {
      background-color: #77D7FD;
      border-radius: 2rem;
    }
  .food-item-2 {
      background-color: #FDE48D;
      border-radius: 2rem;
    }
  .food-fig {
      border: 2px solid black;
    }
  
  /* References */
  .references {
      display: none !important;
    }

   /* Map:Luzon-Visayas-Mindanao */
  .map-txt-section{
    background-color: aquamarine;
    border-radius: 40px;
  }
  .map-section{
    margin-top: 35px;
    justify-content: center;
  }
  .p-column {
    flex-direction: column;
  }

  .p-img-container1, .p-img-container2, .p-img-container3{
    align-self: center;
    width: 100%;
  }

  .p-img-container1{
    background-color: #77D7FD;
  }

  .p-img-container2{
    background-color: #FDE48D;
  }

  .p-img-container3{
    background-color: #FE9DBE;
  }

  /* Footer */
  footer {
      background-color: whitesmoke;
    }
  }
  
      @media (min-width: 600px) {
        .media-scroller {
          --_spacer: var(--size-3);
          display: grid;
          gap: var(--_spacer);
          grid-auto-columns: auto;
          grid-auto-flow: column;
          overflow-x: auto;
          overscroll-behavior-inline: contain;
          padding: 0 var(--_spacer) var(--_spacer);
        }
  
    :root {
          --my-variable: 1px;
    }
    .content {
          background: var(--surface-2);
          border-radius: var(--radius-2);
          box-shadow: var(--shadow-2);
          display: grid;
          font-size: 10px;
          gap: var(--_spacer);
          grid-template-rows: min-content;
          padding: var(--my-variable);
          font-size: large;
        }
    .content> img {
          inline-size: 100%;
          object-fit: cover;
        }
      .snaps-inline {
          scroll-padding-inline: var(--_spacer, 1rem);
          scroll-snap-type: inline mandatory;
        }
      .snaps-inline > * {
          scroll-snap-align: start;
        }
      }
      
