/* Applies to all parts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    transition: color 0.3s;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

/* Applies to the header */
header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 105px;
    padding: 0px 45px;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.logo-header, .logo-footer{
    width: 75px;
    height: auto;
    display: flex;
    align-self: center;
}

.title-header,.title-footer{
    font-size: 23px;
    font-weight: bolder;
    padding: 0px 20px;
    justify-content: start;
}

.title-header, .nav-home{
    text-transform: uppercase;
}

.title-header .title-1-header, .nav-about-us, 
.title-footer .title-1-footer{
    color: blue; 
}
  
.title-header .title-2-header, .nav .nav-home,
.title-footer .title-2-footer {
    color: rgb(205,201,66); 
}

.title-header .title-3-header, .nav-home:hover, .nav-intro:hover, .nav-luzon:hover, 
.nav-visayas:hover, .nav-mindanao:hover, .nav-about-us:hover, .title-footer .title-3-footer{
    color: red; 
}

.nav{
    font-size: 17px;
    width: 100%;
    gap: 30px;
    z-index: 1;
    justify-content: flex-end;
}

.nav-about-us{
    border: 2px solid blue;
    border-radius: 40px;
    padding: 20px 40px 20px ;
}

.nav-about-us:hover{
    border: 2px solid red;
}

/* Applies to the footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px;
}

.credits{
    font-size: x-small;
    align-self: center;
    padding-top: 20px;
}


/* Content */
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 500px;
    align-content: center;
    inset: 0;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 500px;
    align-content: center;
    inset: 0;
    margin: auto;
}

.content p {
    padding: 10px;
}

.paragraph-spacing {
    margin-bottom: 20px;
}

.food-item {
    border: 3px solid black;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f8f8f8;
}

.food-fig {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.food-fig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

figcaption {
    text-align: center;
}

.description {
    margin-left: 50px;
    margin-right: 50px;
}

/* Content on mobile */
@media (max-width: 600px) {
    .introduction {
        padding: 0px;
    }

    .media-scroller {
        --_spacer: var(--size-3);
        display: grid;
        gap: var(--_spacer);
        grid-auto-flow: column;
        grid-auto-columns: auto;

        padding: 0 var(--_spacer) var(--_spacer);

        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .content {
        display: grid;
        grid-template-rows: min-content;
        gap: var(--_spacer);
        padding: var(1px);
        background: var(--surface-2);
        border-radius: var(--radius-2);
        box-shadow: var(--shadow-2);
        font-size: 10px;
    }

    .content> img {
        inline-size: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }

      .snaps-inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: var(--_spacer, 1rem);
      }
      
      .snaps-inline > * {
        scroll-snap-align: start;
      }
}

/* References */
.references {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 110px 100px;
}

.references p {
    padding: 10px;
}

/* For a mobile screens */
@media (max-width: 600px) {
    .logo-img{
        width: 20px;
        height: auto;
    }

    .logo{
        font-size: 10px;
    }

    .nav{
        font-size: 10px;
        gap:2px;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
    }

    .logo-footer{
        font-size: 10px;
    }
    
    .credits{
        font-size: 7px;
        align-self: center;
        flex-wrap: wrap;
    }
}