@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  background: whitesmoke;
  position: fixed;
  width: 100%;
}

.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 10px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content{
  display: flex;
  align-items: center;
}

nav .content .links{
    position: fixed;
    display: flex;
    width: 100%;
    height: 12%;
    top:0;
    left:0;
    right:0;
}

.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.content .links li{
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label{
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content .links li label{
  display: none;
}

.content .links li a:hover,
.content .links li label:hover{
  color: red;
}

.wrapper .menu-icon{
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon{
  display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}

.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: whitesmoke;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
    background-color: whitesmoke;
    margin: 0;
  }

  nav .content .links{
    margin-left: 30px;
  }

  .content .links li a{
    padding: 8px 13px;
  }

  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }

  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }

  nav .content .links{
    display: block;
    position: fixed;
    background: #77D7FD;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }

  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }

  .content .links ul li{
    margin: 7px 20px;
  }
  
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

/* Applies to all parts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    transition: color 0.3s;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

/* Navigation Bar */
.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    height: 12%;
    top:0;
    left:0;
    right:0;
    background-color:whitesmoke;   
}

.nav-logo{
    display: flex;
}

.nav-logo-img{
    width: 10vmin;
    height: 10vmin;
    align-self: center;
}

.nav-title{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3vmin;
    padding: 0;
}

.nav-title-1{
    color: blue;
}

.nav-title-2{
    color: rgb(205,201,66); 
}

.nav-title-3, .nav-links a:hover{
    color: red;
}

.nav-links{
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.9vmin;
    justify-content: end;
    width: 100%;
}

.nav-links li{
    cursor: pointer;
    margin: 0 1vmin 0;
}

.nav-home{
    color: rgb(205,201,66); 
}

.nav-about-us{
    padding: 8px 15px;
    border: 1px solid blue;
    border-radius: 20px;
    color: blue;
    min-width: 10px;
}

.nav-about-us:hover{
    border: 1px solid red;
}


/* Mindanao Content  */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 500px;
    align-content: center;
    inset: 0;
    margin: auto;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 500px;
    align-content: center;
    inset: 0;
    margin: auto;
}

.Content p {
    padding: 10px;
}

.paragraph-spacing {
    margin-bottom: 20px;
}

.food-list {
    border: 3px solid black;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f8f8f8;
}

.food-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.food-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.piccaption {
    text-align: center;
}

.desc {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 2rem;
}


/* Applies to the footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 30px 0px 30px;
    background-color: whitesmoke;
}

.logo-footer{
    width: 10vmin;
    height: 10vmin;
    align-self: center;
}

.title-footer{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3vmin;
    padding: 0;
}

.title-1-footer{
    color: blue;
}

.title-2-footer{
    color: rgb(205,201,66); 
}

.title-3-footer{
    color: red;
}

.credits{
    font-size: x-small;
    align-self: center;
    padding-top: 20px;
}

/* Mobile content */
@media (max-width: 600px) {

  .wrapper nav {
    background-color: #d46855;
  }

  .nav-title-1, .nav-title-2, .nav-title-3 {
    color: black;
    font-size: 2rem;
  }

  .title-1-footer, .title-2-footer, .title-3-footer  {
    color: #fcf7ef;
    font-size: 2rem;
  }

  footer {
    background-color: black;
    color: #fcf7ef;
  }

  .food-list {
    background-color: #d46855;
    border-radius: 2rem;
  }

  .food-pic {
    border-color: 2px solid black;
  }

  .desc {
    background-color: #d46855;
    border-radius: 20px;
    align-content: center;
    padding: 2rem;
  }

  .media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: auto;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: scroll; /* Use scroll for mobile */
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory; /* Enable horizontal scroll snap */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }

  .Content{
    display: grid;
      grid-template-rows: min-content;
      gap: var(--_spacer);
      padding: var(1px);
      background: var(--surface-2);
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-2);
      font-size: 10px;
  }

  .Content> img {
      inline-size: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
    scroll-snap-align: start;
  }
}

/* For a mobile screens */
@media (max-width: 600px) {
    /* Navigation Bar */
    .nav-links{
      text-transform: uppercase;
      padding: 0;
      display: flex;
      align-items: center;
      font-size: 1.9vmin;
      justify-content: end;
      width: 100%;
  }

  .nav-links li{
      cursor: pointer;
      margin: 0 1vmin 0;
  }

  .nav-home{
      color: rgb(205,201,66); 
  }

  .nav-about-us{
      padding: 8px 15px;
      border: 1px solid blue;
      border-radius: 20px;
      color: blue;
      min-width: 10px;
  }

  .nav-about-us:hover{
      border: 1px solid red;
  }
}